body {
    margin: 0;
    background-color: #0f172a;
    color: #e2e8f0;
    padding: 48px 24px;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

header h1 {
    font-size: 2.5rem;
}

p {
    color: #94a3b8;
}

.o-50 {
    opacity: 50%;
}

.project {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 0;
    border-radius: 8px;
    overflow: hidden;
}

.project img {
    width: 300px;
    height: 180px;
    object-fit: cover;
    margin: 20px 0;
    border-radius: 4%;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.skill {
    text-align: center;
    border-radius: 8px;
    padding: 1rem;
}

.skill img {
    width: 60px;
    height: 60px;
    margin-bottom: 0.5rem;
}

.nav {
    display: none;
}

a {
    text-decoration: none;
    color: #e2e8f0;
    letter-spacing: 2px;
    font-weight: 600;
}

li {
   list-style: none;
}

.subON {
    display: none;
}


@media (min-width: 720px) {

    body {
        padding: 60px 44px;
    }

    header h1 {
        font-size: 3.1rem;
    }

    .project-details {
        display: flex;
    }

    .project img {
        order: -1;
    }

    .md-p {
        padding: 20px;
    }
}


@media (min-width: 1024px) {
    body {
        padding: 80px 48px;
        display: flex;
    }

    header {
        width: 50%;
        padding-right: 80px;
        position: fixed;
    }

    main {
        padding-top: 0;
        margin-top: 0;
        padding-left: 50%;
    }

    .sub-min {
        display: none;
    }

    .nav{
        display: block;
    }

    .project img {
        width: 150px;
        height: 90px;
        margin: 26px 0;
    }

    h3 {
        font-size: 1.55rem;
    }
}
/*
.skill p {
    margin: 0;
    font-weight: 700;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1.1rem;
    text-align: center;
    margin-top: 2rem;
}

footer p {
    margin: 0;
    font-size: 1.1rem;
}

footer a {
    color: #007BFF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 550px) {
    header h1 {
        margin: 0;
        font-size: 2.0rem;
    }
    .project {
        flex-direction: column;
        align-items: center;
    }

    .project img {
        max-width: 100%;
    }

    .project-details {
        padding-left: 0rem;
        padding-right: 0rem;
        text-align: center;
    }
}
*/