body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 2rem;
}

.project {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.project img {
    width: 100%;
    max-width: 300px;
    max-height: 250px;
    object-fit: cover;
}

.project-details {
    width: 100%;
    background-color: #f4fcff;
    flex: 1;
    padding: 1rem;
}

.project-details h3 {
    margin: 0 0 0.5rem;
}

.project-details p {
    margin: 0 0 1rem;
}

.project-details a {
    text-decoration: none;
    color: #007BFF;
}

.project-details a:hover {
    text-decoration: underline;
}

@media (max-width: 550px) {
    header h1 {
        margin: 0;
        font-size: 2.0rem;
    }
    .project {
        flex-direction: column;
        align-items: center;
    }

    .project img {
        max-width: 100%;
    }

    .project-details {
        padding-left: 0rem;
        padding-right: 0rem;
        text-align: center;
    }
}
